<div class='center' style="text-align:center">
  <%= link_to 'Create a movie list', new_list_path, class: "btn btn-ghost" %>
</div>
<br>

<div class="cards">
<% @lists.each do |list| %>
    <%= link_to list_path(list), class:'link' do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.joburg.org.za/media_/PublishingImages/Pages/Media/Blog/2019%20Blogs/This-is-for-all-movie-lovers-and-popcorn-addicts-in-Joburg!/review.jpg)">
        <%= list.name %>
       </div>
  <% end %>
<% end %>
</div>
